/* created by Melaniuse at 11/08/2020 */
:root{
    --prim:#585772;
    --tealdark:#004444;
    --gold:#f28f3b;
}
html{scroll-behavior: smooth;overflow-x:hidden;font-size: 16px;}*,*:before,*:after{box-sizing:border-box;}*{margin:0;padding:0;}
footer,header,main,menu,nav,section{display:block;}
a{text-decoration:none;}a:active,a:hover{outline-width:0;}
body{font-family:sans-serif;background:#cccccc88;}
h1{font-size:3rem;}h2{font-size:2.5rem;}h3{font-size:2rem;}
h1,h2,h3{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;}
img{max-width:100%;height:auto}img{vertical-align:middle}
section{width:100vw;min-height:100vh; padding: 1rem;}
.flex{display: flex;align-items:center;}
.jcc{justify-content: center;}
.jcsa{justify-content:space-around;}    
.wrap{flex-wrap: wrap;}
.container{max-width: 90%;margin:0 auto;min-height:100vh;}
/* header&nav */
header{position:fixed;width:100%;top:0;left:0;background:rgba(0,0,0,0.2);z-index:5;padding:1em;}
.logo img{width: 130px;}
nav a{color:#ddd;font-size:1.1rem;margin:0 1.2em;position:relative;}
nav a::after{content:"";background:#ddd;width:50%;height:1px;position:absolute;left:1px;bottom:0;transition:0.3s;}
nav a:hover::after{width:100%}
/* home page */
#home, #contact{background: #00bdbd;background:linear-gradient(to left, #00bdbd, #005050);}
.hero h1{color:lightblue;}
.hero h1 span{font-size:3.2rem;color:#fff;}
.hero p{margin:1.6em 0 3em 0;color:#ddd;letter-spacing:1px;max-width:300px;}
.btn{background:#f28f3b;border-radius:20px;color:white;padding:0.6em 1.2em;text-transform:uppercase;display:inline-block;letter-spacing:1px;margin-right:1em;}
.btn:hover{background:rgba(255,255,255,0.4);}
.ui{position: relative;max-width: 400px;min-width: 300px; height: 220px;}
.ui .img{position: absolute;width: 100%;height: 100%;}
.ui .type{position: absolute;z-index: 1;width:30%;height: 50%;top: 25%;left: 45%;color:#ddd;}

/* works page */
.works h3{text-align:center;padding:1.5em 0;}
.card{max-width: 300px;margin:1rem;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);}


/* contact page */

.contact h3{color:#ddd;margin-bottom:1em;}
.contact>div{padding:4rem 2rem;margin:0 2em;max-width:350px;}
label {margin-bottom: 5px;font-size:1.1em;display:inline-block;color: white;}
input,textarea {width: 100%;padding:0.5em;outline:none;border: none;}
input:focus,textarea:focus {background-color: #bbb;}
.about p{color:#ddd;}


.watermark{position:fixed;bottom:0;left:40%;font-size:180px;opacity:0.1;color:#888;}
.to-top {display: inline-block;position: fixed;width: 3rem;height: 3rem;border-radius: 50%;
    bottom: 5%;right: 5%;opacity: 0;}
.scroll {-webkit-animation: fade 1s ease-in-out infinite alternate; animation: fade 1s ease-in-out infinite alternate;}
  
@media screen and (max-width: 2000px) {html{font-size:20px;}}
@media screen and (max-width: 1500px) {html{font-size:16px;}}
@media screen and (max-width: 1200px) {html{font-size:15px;}}
@media screen and (max-width: 900px) {
html{font-size:14px;}
}
@media screen and (max-width: 600px) {
html{font-size:12px;}
nav{position: fixed;bottom: 0;left: 0;background:#f28f3b;width: 100%;display: flex;justify-content: space-around;align-items: center;height: auto;z-index: 5;}
nav a{font-size: 16px;padding: 1em;}
nav a::after{display: none;}
.to-top{display: none;}
}

@-webkit-keyframes fade {0% { opacity: 0;}100% {opacity: 1;}}
@keyframes fade {0% { opacity: 0;}100% {opacity: 1;}}
