@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #cccccc88;
  margin: 0;
  font-family: cursive;
}

.header {
  background-image: url(icons/bg2.svg);
  min-height: 80vh;
  margin-top: -20vh;
  background-size: cover;
  background-position: bottom left;
  color: white;
  position: relative;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header .logo-container .logo {
  width: 3em;
  height: 3em;
  margin: 0 0.5em 0.5em 0;
}

.header .logo-container .brand-name {
  font-size: 2.5em;
  font-weight: 500;
  letter-spacing: 2px;
  font-family: "Metal Mania", cursive;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

.header .nav a {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 0.6em 1.2em;
  letter-spacing: 2px;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.2em;
}

.about {
  min-height: 70vh;
  margin-top: -30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Courgette", cursive;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 2em;
  letter-spacing: 1px;
}

.about .h1 {
  margin-bottom: 0.5em;
  font-size: 2em;
}

.about p {
  margin: 1em;
  width: 60%;
  font-size: 1.2em;
}

.about p .name {
  font-weight: bold;
  font-size: 1.3em;
}

.projects,
.resume {
  min-height: 80vh;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.project-items {
  max-width: 250px;
  max-height: 350px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  border-radius: 0.5em;
}

.project-items .img {
  margin: 0.5em auto;
  height: 200px;
  width: 200px;
}

.project-items .img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 1em;
}

.project-items a {
  font-size: 1.2em;
}

.resume {
  min-height: 60vh;
  padding-bottom: 4em;
}

.resume a {
  color: #226270;
}

.resume .div h2 {
  color: #226270;
  margin: 0.5em;
}

.resume .div ul li {
  font-size: 1.1em;
  margin-top: 0.5em;
}

.contact {
  height: 50vh;
  background-image: url(icons/bg1.svg);
  margin-top: -20vh;
  padding: 10em;
  color: #fff;
}

.contact .social a,
.contact .social span {
  display: inline-block;
  padding: 0.5em;
  background-color: #fff;
  color: #002c2c;
  margin: 0.2em;
}

.contact .social a {
  width: 100px;
  text-decoration: none;
}

.contact .social img {
  margin-right: 0.4em;
  width: 1em;
}

.to-top {
  display: inline-block;
  position: fixed;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  bottom: 5%;
  right: 5%;
  opacity: 0;
}

.scroll {
  -webkit-animation: fade 0.5s ease-in-out infinite alternate;
          animation: fade 0.5s ease-in-out infinite alternate;
}

@media screen and (max-width: 900px) {
  html {
    font-size: 80%;
  }
  .header .nav {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #002c2c;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: top right;
            transform-origin: top right;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    z-index: 10;
  }
  .header .burger {
    margin-right: 5%;
    cursor: pointer;
    z-index: 12;
  }
  .header .burger > div {
    width: 20px;
    height: 5px;
    background: white;
    margin: 3px;
  }
  .header .open-menu {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .project-items {
    margin: 0.5em;
  }
  .contact {
    padding: 5em;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */